*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body{
  background-color: #0d0d0d;
}

/*
****************
Banner inicial e Header
****************
*/
.banner {
  width: 100%;
}
.banner video {
  width: 100%;
  z-index: 0;
}
.header {
  position: absolute;
  width: 100%;
  top: 0;
  height: 100px;
  margin: auto;
  font-size: 24px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 50px;
  font-size: 2.5em;
  font-weight: bold;
}

.logo p {
  font-family: "VALORANT", sans-serif;
}

.nav {
  z-index: 9999;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin-right: 50px;
}

.nav li {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: #fff;
}

.nav li:after {
  display: block;
  content: "";
  border-bottom: solid 2px #fff;
  transform: scaleX(0);
  transition: transform 200ms ease-in-out;
}

.nav li:hover:after {
  transform: scaleX(1);
}

.nav li:after {
  transform-origin: 0% 50%;
}
.title{
  position: absolute;
  top: 50%;
  left: 25%;
  color: #fff;
}
.title h1{
  font-size: 4em;
  text-transform: uppercase;
  font-family: "VALORANT", sans-serif;
}
.title span{
  opacity: .7;
  font-size: 1.8em;
}

/*
  ***************
  Animação do mouse de scroll
  ***************
*/
.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}
.icon-scroll {
  width: 40px;
  height: 70px;
  margin-left: -20px;
  top: 95vh;
  margin-top: -35px;
  box-shadow: inset 0 0 0 2px #fff;
  border-radius: 25px;
}
.icon-scroll:before {
  content: "";
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}
@-moz-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}
@-o-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}

.intro{
  width: 100%;
  height: 100vh;
}



